<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HART</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>HART</h1>
  <h2>Horse and Rider Together Program</h2>
  <p>Created and mainted by the United States Dressage Federation, Horse and Rider Together or HART is a tool for all members to record and share their daily riding activities. The online training journal allows participants to track their rides over time, share how their ride went with friends and earn achievements based on the number of hours spent in the saddle.</p>

</body>
</html>
