video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/1.png) no-repeat;
    background-size: cover;
}

body, .modal-content{
  background-color: #444;
}

/*
h1, h2, h3, h4, h5, p, label, input, textarea, td, th{
color: #444;
}
*/
@media (min-width: 992px){
  h1{ font-size: 5vw; }
}

.container {
    background: rgba(20,20,20,.6);
    border-radius: 0px 0px 5px 5px;
}

#signup_p{
  text-align: center;
  margin-top: 40px;
}
