<div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">group</i></h2>
            <h3 class="center">{{num_users}} Users</h3>

            <!--<p class="light">Users</p>-->
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">library_books</i></h2>
            <h3 class="center">{{num_journals}} Journals</h3>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">mode_edit</i></h2>
            <h3 class="center">{{num_logs}} Entries</h3>
          </div>
        </div>
      </div>
