
<table class='centered'>
<thead>
<tr><th>Date</th><th>Hours</th><!--<th>Category</th>--><th>Notes</th><th>Modify</th></tr>
</thead>
<tbody>
  {{#logs}}
    <tr><td>{{date}}</td><td>{{hours}}</td><!--<td>{{type}}</td>--><td>{{info}}</td><td>
      <form class="delete_log" method="POST" action="/log/{{id}}?_method=DELETE">
        <button class='btn' type="submit">Delete</button>
      </form>
    </td></tr>
  {{/logs}}
  {{^logs}}
    <tr><td colspan=4>This journal is empty.  Fill it with logs!</td></tr>
  {{/logs}}
</tbody>
</table>

<script>
  $('.delete_log').submit(function(e){
    e.preventDefault();
    console.log("firing")
    $.ajax({
      method: "POST",
      url: $(this).attr('action'),
      success: function(){
        loadLogs()
      }
    })
  });
</script>
