<h3></h3>
  <form method="POST" action="/logs">
    <div id="log-pg-1">
      <label for="date">Cool!  When's the last time you <!--rode on-->did {{id}}?</label>
      <input type="text" name="date" id="date" />
      <label for="hours">and for how long?</label>
      <input type="text" name="hours" id="hours" />
    </div>
    <div id="log-pg-1">
      <label for="info">Neat!  Jot some notes about your journal entry.  You can also give it a <a href="typeModal">category</a>.</label>
      <input type="text" name="info" id="info" />
      <input type="text" name="type" id="type" />
    </div>

      <input type="submit" value="Create a Log Entry">
  </form>
