
  <style>
  h2, #log-pg-1, #log-pg-2, #flippage_btn{
    display:none;
  }

  #date{
    margin: 1em;
  }

  </style>



  <h2>Let's record a log:</h2>
  <form id="new_log_form" method="POST" action="/log/new/{{id}}">
    <div id="log-pg-1">
      <label for="date">When's the last time you <!--rode on-->did the {{name}}?<br>
      <button type="date" id="date" class="btn datepicker">Choose a Date</button>
      <input id="hidden_date" type="hidden" name="date">
      </label>
      <br clear="all">
      <label for="hours">and for how many hours?
      <p class="range-field">
        <input type="range" name="hours" min="0" max="24" step="0.5" value="2" id="hours" />
      </p>
      </label>
      <a href="#" id="flippage_btn" onClick="flippage()" class='btn'>Continue</a>
    </div>
    <div id="log-pg-2">
      <label for="info">Neat!  Jot some notes about your journal entry.  <!--You can also give it a <a href="typeModal">category</a>.-->
      <input type="text" name="info" id="info"/>
      </label>
      <input class='btn' type="submit" value="Create a Log Entry">

      <!--
      <select name="type" id="type">
        <option value="Recreational">Recreational</option>
        <option value="Competitive">Competitive</option>
        <option value="Practice">Practice</option>
        <option value="Clinic/Lessons">Clinic/Lessons</option>
      </select>
          -->

    </div>
  </form>


<script>

  $("#info").on("keydown", function(x){
    if (x.which === 13)
      $("#new_log_form").submit()
  })

  setTimeout(function(){
      $('#log-pg-1').fadeIn().addClass('magictime boingInUp');
      setTimeout(function(){
        $('.range-field').append('<span class="thumb"><span class="value">2</span></span>')
        $('.thumb').velocity({ height: "30px", width: "30px", top: "-30px", marginLeft: "5px"}, { duration: 300, easing: 'easeOutExpo' });
        console.log($('input[type=range]').width(), ",", $('input[type=range]').attr('max'))
        $('.thumb').addClass('active').css('left', 2*$('input[type=range]').width() / $('input[type=range]').attr('max')-1);
      },200)
  }, 900);






/*
  let childrenCounter = 0
  let nInterval
  nInterval = setInterval(function(){
    $($('#log-pg-1').children()[childrenCounter]).addClass('magictime boingInUp')
    childrenCounter++
    if (childrenCounter >= $('#log-pg-1').children().length)
      clearInterval(nInterval)
  },200)
*/

  /*
  while (childrenCounter < $('#log-pg-1').children().length){
    $('#log-pg-1').children()[childrenCounter]
    childrenCounter++
  }
  */
</script>

